/* Universal */
html,
body {
    font-family: "Helvetica", Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: azure;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Header/Nav */
.container {
    margin: 0 auto;
}
nav {
    background-color: black;
    height: 90px;
    border-bottom: 5px solid rgb(11, 11, 134);
}
ul {
    list-style: none;
    margin: 0;
}
li {
    display: inline-block;
    padding: 30px 30px;
    float: right;
}
li a {
    color: white;
    text-decoration: none;
}
header {
    margin: 50px auto;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
/* Body */
p {
    color:rgb(11, 11, 134);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img {
    width: 100%;
}
.contact {
    margin: 100px auto 25px;
}
form {
    margin-bottom: 40px;
}
div a {
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
/* Footer */
footer {
    color: rgb(11, 11, 134);
}